@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1&family=Gowun+Batang&family=Jua&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  cursor: url(./source/24475.png) 2 2, auto !important;
  scrollbar-width: none;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
}

body {
  height: 160vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* nav */
.header-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    font-family: "Gowun Batang", serif;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-content {
      width: 100vw;
      height: 100%;
      background-image: url(https://t1.daumcdn.net/cfile/tistory/1736B4234A1545B323);
      background-position: center;
      background-size: cover;
      color: rgb(255, 234, 116);
      font-size: 45px;
      text-shadow: rgb(0, 0, 0) 5px 5px 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .nav {
      width: 100vw;
      height: 100px;
      position: sticky;
      top: 0;
      font-size: 27px;
      border: 1px solid #bbbbbb;
      background-color: #fffefd;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;

      .nav-menu {
        display: flex;
        flex-direction: row;
        gap: 100px;

        .li-1,
        .li-2 {
          transition: all 0.5s;
          &:hover {
            color: rgb(255, 174, 0);
          }
        }
      }
    }
  }
}

.switch {
  display: none !important;
}
*/ #content-container {
  width: 1500px;
  /* height: 1200px; */
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 팀 페이지 편집 정민 */

#bodywrap {
  padding-top: 400px;
  display: flex;
  width: 1400px;
  height: 800px;
}

.teampicture {
  width: 800px;
  height: 800px;
  overflow: hidden;
  margin: 0px 20px 0px 0px;
}

.teampicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teamname {
  font-size: 24px;
  width: 600px;
  height: 600px;
  margin: 0px 0px 0px 20px;
}

.texttuterteacher {
  text-align: right;
}

.textright {
  text-align: right;
}

.textright2 {
  text-align: right;
}

.textright3 {
  text-align: right;
}

/* 멤버 소개 구조 주하 */

#card.container {
  width: 1500px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rows {
  width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 0 200px;
}

.cards {
  width: 450px;
  height: 450px;
  margin: 0;
  padding: 0;
}

#card-container img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  object-fit: cover;
}

/* 멤버카드 호버 주하 */

.hover {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 450px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.814);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.cards:hover {
  transform: scale(1.1);
}

.cards:hover .hover {
  opacity: 1;
}

/* member_modal */

#member_modalLayer {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}

#member_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 600px;
  background: #fff;
  border-radius: 40px;
  padding: 50px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#member_modalBtn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0);
  border: none;
  font-size: 50px;
  color: #999;
  text-align: center;
  line-height: 50px;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s;
}

#member_modalBtn:hover {
  opacity: 1;
}

.member_image {
  width: 400px;
  height: 400px;
  border-radius: 50%;

  border: 1px solid #f00;
}

.member_info {
  width: 400px;
  color: #333;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#name {
  font-size: 40px;
}

#mbti {
  width: 110px;
  height: 30px;
  border-radius: 10px;

  font-size: 20px;
  text-align: center;
  line-height: 30px;
  /* 폰트나 배경 색상 변경하기 */
  background: #333;
  color: #fff;
}

#hobby,
#likes {
  margin-left: 10px;
  font-size: 20px;
  line-height: 50px;
}

#hobby > span,
#likes > span {
  float: right;
}

#tmi {
  width: 100%;
  height: 40px;
  font-size: 30px;
  margin-bottom: 30px;

  /* 폰트나 배경 색상 변경하기 */
  border-top: 1px solid #333;
  color: #999;
}

#member_links {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}

#member_links > li {
  width: 50px;
  height: 50px;
}

#member_links > li > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* modal2 */

.modal__join__container {
  width: 1200px;
  height: 600px;
  display: flex;
  justify-content: left;
  align-items: center;
  border: 1px solid black;
  border-radius: 40px;
  padding: 100px !important;
}

.modal__profile__img {
  width: 400px;
  height: 400px;
  border: 1px black solid;
  border-radius: 100%;
  display: flex;
  justify-items: center;
  align-items: end;
  background-image: url(./source/pngegg.png);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.inputImg {
  display: none;
}

.profile__img__text {
  padding-left: 100px;
  padding-bottom: 50px;
  text-align: center;
}

.modal__right {
  width: 600px;
}

.modal__form {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  width: 100%;
  height: 400px;
}

.textInput {
  width: 200px;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  margin-right: 10px;
}

.textInput:focus {
  outline: none;
}

.modal__form__long {
  width: 410px !important;
}
